<template>
    <header>
        <button id="btn" v-if="showHeader">Click</button>
    </header>
</template>

<script>
export default {
    name: "Header",
    data() {
        return {
            showHeader: true
        }
    },
}
</script>

<style scoped>

</style>
