<template>
  <h1>{{ mensaje }}</h1>
    <Header />
</template>

<script setup>
import Header from "./components/Header";
import {ref} from "vue";

const mensaje = ref(' Dev Pops')

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
